<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ac.png</key>
		<dict>
			<key>frame</key>
			<string>{{1806,296},{76,80}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>access.png</key>
		<dict>
			<key>frame</key>
			<string>{{1548,1160},{240,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,120}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>antenna.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1290},{160,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,640}}</string>
			<key>sourceSize</key>
			<string>{160,640}</string>
		</dict>
		<key>antenna2.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,1290},{68,640}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{68,640}}</string>
			<key>sourceSize</key>
			<string>{80,640}</string>
		</dict>
		<key>antenna3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1950,166},{76,640}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,640}}</string>
			<key>sourceSize</key>
			<string>{80,640}</string>
		</dict>
		<key>antenna4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1912,808},{128,480}}</string>
			<key>offset</key>
			<string>{-4,-80}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,160},{128,480}}</string>
			<key>sourceSize</key>
			<string>{160,640}</string>
		</dict>
		<key>antenna5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024,592},{64,480}}</string>
			<key>offset</key>
			<string>{0,-80}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,160},{64,480}}</string>
			<key>sourceSize</key>
			<string>{160,640}</string>
		</dict>
		<key>antenna6.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,1290},{116,624}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,16},{116,624}}</string>
			<key>sourceSize</key>
			<string>{160,640}</string>
		</dict>
		<key>billboard_bottom-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1426,1290},{124,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,128}}</string>
			<key>sourceSize</key>
			<string>{124,128}</string>
		</dict>
		<key>billboard_bottom-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1268,1820},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>billboard_bottom-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1398,1486},{124,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,128}}</string>
			<key>sourceSize</key>
			<string>{124,128}</string>
		</dict>
		<key>billboard_catwalk-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1684,1414},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>billboard_catwalk-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,1548},{64,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,52}}</string>
			<key>sourceSize</key>
			<string>{64,52}</string>
		</dict>
		<key>billboard_catwalk-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1618,1414},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>billboard_dmg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,1548},{244,240}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{244,240}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>billboard_dmg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,1612},{252,256}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{252,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>billboard_dmg3.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,1290},{232,200}}</string>
			<key>offset</key>
			<string>{-12,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,56},{232,200}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>billboard_middle-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138,1820},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>billboard_middle-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1268,1486},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>billboard_middle-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1296,1290},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>billboard_post.png</key>
		<dict>
			<key>frame</key>
			<string>{{1442,1160},{104,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{104,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>billboard_post2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,1130},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>billboard_top-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1272,1682},{124,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,128}}</string>
			<key>sourceSize</key>
			<string>{124,128}</string>
		</dict>
		<key>billboard_top-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1166,1290},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>billboard_top-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,1074},{124,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,128}}</string>
			<key>sourceSize</key>
			<string>{124,128}</string>
		</dict>
		<key>block.png</key>
		<dict>
			<key>frame</key>
			<string>{{1750,1358},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>block20.png</key>
		<dict>
			<key>frame</key>
			<string>{{1966,84},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,1290},{160,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,320}}</string>
			<key>sourceSize</key>
			<string>{160,320}</string>
		</dict>
		<key>cracks.png</key>
		<dict>
			<key>frame</key>
			<string>{{1390,898},{512,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,64}}</string>
			<key>sourceSize</key>
			<string>{512,64}</string>
		</dict>
		<key>crane1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1564,166},{384,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,128}}</string>
			<key>sourceSize</key>
			<string>{384,128}</string>
		</dict>
		<key>crane2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1036,1290},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>crane3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1010,1492},{256,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,192}}</string>
			<key>sourceSize</key>
			<string>{256,192}</string>
		</dict>
		<key>crane4.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,1870},{192,168}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,24},{192,168}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>crane5.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,1290},{128,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,256}}</string>
			<key>sourceSize</key>
			<string>{128,256}</string>
		</dict>
		<key>dark_tower.png</key>
		<dict>
			<key>frame</key>
			<string>{{1398,384},{512,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,512}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>demo_gibs.png</key>
		<dict>
			<key>frame</key>
			<string>{{1564,2},{456,80}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{456,80}}</string>
			<key>sourceSize</key>
			<string>{480,80}</string>
		</dict>
		<key>dishes.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,1290},{156,640}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{156,640}}</string>
			<key>sourceSize</key>
			<string>{160,640}</string>
		</dict>
		<key>doors.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1932},{240,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,96}}</string>
			<key>sourceSize</key>
			<string>{240,96}</string>
		</dict>
		<key>dove.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,1998},{148,32}}</string>
			<key>offset</key>
			<string>{-6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{148,32}}</string>
			<key>sourceSize</key>
			<string>{160,40}</string>
		</dict>
		<key>escape.png</key>
		<dict>
			<key>frame</key>
			<string>{{1846,964},{64,128}}</string>
			<key>offset</key>
			<string>{-32,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>fence.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,1206},{128,76}}</string>
			<key>offset</key>
			<string>{0,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,52},{128,76}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>floor1-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1816,1356},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>floor1-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1684,1348},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>floor1-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1618,1348},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>floor1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1116,1196},{192,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,64}}</string>
			<key>sourceSize</key>
			<string>{192,64}</string>
		</dict>
		<key>floor2-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1922,1290},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>floor2-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1750,1292},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>floor2-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1856,1290},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>floor2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1230,1420},{192,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,64}}</string>
			<key>sourceSize</key>
			<string>{192,64}</string>
		</dict>
		<key>gameover.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1560,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1560,200}}</string>
			<key>sourceSize</key>
			<string>{1560,200}</string>
		</dict>
		<key>gameover_exit_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1022,1686},{248,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,132}}</string>
			<key>sourceSize</key>
			<string>{248,132}</string>
		</dict>
		<key>gameover_exit_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,1856},{248,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,132}}</string>
			<key>sourceSize</key>
			<string>{248,132}</string>
		</dict>
		<key>gameover_new_record_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,238},{1088,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1088,128}}</string>
			<key>sourceSize</key>
			<string>{1088,128}</string>
		</dict>
		<key>girder.png</key>
		<dict>
			<key>frame</key>
			<string>{{1090,872},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>girder2.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,1916},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>glass.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{1520,32}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{1520,32}}</string>
			<key>sourceSize</key>
			<string>{1536,32}</string>
		</dict>
		<key>hall1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1036,1420},{192,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,64}}</string>
			<key>sourceSize</key>
			<string>{192,64}</string>
		</dict>
		<key>hall2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1090,1130},{192,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,64}}</string>
			<key>sourceSize</key>
			<string>{192,64}</string>
		</dict>
		<key>jet.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,570},{1020,472}}</string>
			<key>offset</key>
			<string>{-2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{1020,472}}</string>
			<key>sourceSize</key>
			<string>{1024,512}</string>
		</dict>
		<key>mothership.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1044},{960,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,160}}</string>
			<key>sourceSize</key>
			<string>{960,160}</string>
		</dict>
		<key>obstacles.png</key>
		<dict>
			<key>frame</key>
			<string>{{1090,798},{288,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,72}}</string>
			<key>sourceSize</key>
			<string>{288,72}</string>
		</dict>
		<key>obstacles2.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,1206},{144,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,72}}</string>
			<key>sourceSize</key>
			<string>{144,72}</string>
		</dict>
		<key>pause-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1856,1160},{52,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,20},{52,64}}</string>
			<key>sourceSize</key>
			<string>{92,104}</string>
		</dict>
		<key>pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1206},{72,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,80}}</string>
			<key>sourceSize</key>
			<string>{72,80}</string>
		</dict>
		<key>paused.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,368},{1036,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1036,200}}</string>
			<key>sourceSize</key>
			<string>{1036,200}</string>
		</dict>
		<key>pipe1-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,1206},{52,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,80}}</string>
			<key>sourceSize</key>
			<string>{52,80}</string>
		</dict>
		<key>pipe1-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1040,510},{48,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,80}}</string>
			<key>sourceSize</key>
			<string>{48,80}</string>
		</dict>
		<key>pipe1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1564,84},{400,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,80}}</string>
			<key>sourceSize</key>
			<string>{400,80}</string>
		</dict>
		<key>pipe2-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,1856},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,140}</string>
		</dict>
		<key>pipe2-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1348,872},{40,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,44}}</string>
			<key>sourceSize</key>
			<string>{40,44}</string>
		</dict>
		<key>pipe2-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1040,368},{48,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,140}}</string>
			<key>sourceSize</key>
			<string>{48,140}</string>
		</dict>
		<key>pipe2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1414,238},{148,144}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,16},{148,144}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>reservoir.png</key>
		<dict>
			<key>frame</key>
			<string>{{1092,320},{304,476}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{304,476}}</string>
			<key>sourceSize</key>
			<string>{320,480}</string>
		</dict>
		<key>roof1-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1684,1282},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof1-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1618,1282},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof1-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1552,1292},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof2-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1790,1226},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof2-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1790,1160},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof2-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1810,1094},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof3-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1336,1950},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof3-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1270,1950},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof3-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1744,1094},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof4-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1678,1094},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof4-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1612,1094},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof4-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1490,1420},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof5-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1546,1094},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof5-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1480,1094},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof5-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1424,1420},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof6-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1334,1616},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof6-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1204,1950},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>roof6-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138,1950},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>skylight.png</key>
		<dict>
			<key>frame</key>
			<string>{{1092,238},{320,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,80}}</string>
			<key>sourceSize</key>
			<string>{320,80}</string>
		</dict>
		<key>slope.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,1206},{192,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,64}}</string>
			<key>sourceSize</key>
			<string>{192,64}</string>
		</dict>
		<key>slope20.png</key>
		<dict>
			<key>frame</key>
			<string>{{1564,296},{240,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,80}}</string>
			<key>sourceSize</key>
			<string>{240,80}</string>
		</dict>
		<key>smoke.png</key>
		<dict>
			<key>frame</key>
			<string>{{1348,964},{496,128}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{496,128}}</string>
			<key>sourceSize</key>
			<string>{512,128}</string>
		</dict>
		<key>wall1-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1750,1424},{60,64}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall1-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1268,1616},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall1-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1816,1422},{60,64}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall2-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1944,1356},{60,64}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall2-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1414,1094},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall2-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1882,1356},{60,64}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall3-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1376,1196},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall3-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1268,1616},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall3-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1310,1196},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall4-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1556,1424},{60,64}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall4-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1884,296},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>wall4-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1556,1358},{60,64}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>window1.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,1790},{256,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,64}}</string>
			<key>sourceSize</key>
			<string>{256,64}</string>
		</dict>
		<key>window2.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,1206},{256,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,64}}</string>
			<key>sourceSize</key>
			<string>{256,64}</string>
		</dict>
		<key>window3.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,1206},{256,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,64}}</string>
			<key>sourceSize</key>
			<string>{256,64}</string>
		</dict>
		<key>window4.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,1932},{256,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,64}}</string>
			<key>sourceSize</key>
			<string>{256,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Object_Atlas-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ee7b3c47f3ca061bb51fbcec0d4f2252$</string>
		<key>textureFileName</key>
		<string>Object_Atlas-hd.png</string>
	</dict>
</dict>
</plist>
