<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ac.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,892},{38,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>access.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,830},{120,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,60}}</string>
			<key>sourceSize</key>
			<string>{120,60}</string>
		</dict>
		<key>antenna.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,86},{80,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,320}}</string>
			<key>sourceSize</key>
			<string>{80,320}</string>
		</dict>
		<key>antenna2.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,490},{34,320}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{34,320}}</string>
			<key>sourceSize</key>
			<string>{40,320}</string>
		</dict>
		<key>antenna3.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,490},{38,320}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,320}}</string>
			<key>sourceSize</key>
			<string>{40,320}</string>
		</dict>
		<key>antenna4.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,490},{64,240}}</string>
			<key>offset</key>
			<string>{-2,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,80},{64,240}}</string>
			<key>sourceSize</key>
			<string>{80,320}</string>
		</dict>
		<key>antenna5.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,490},{32,240}}</string>
			<key>offset</key>
			<string>{0,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,80},{32,240}}</string>
			<key>sourceSize</key>
			<string>{80,320}</string>
		</dict>
		<key>antenna6.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,86},{58,312}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,8},{58,312}}</string>
			<key>sourceSize</key>
			<string>{80,320}</string>
		</dict>
		<key>billboard_bottom-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,808},{62,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>billboard_bottom-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,830},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>billboard_bottom-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,878},{62,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>billboard_catwalk-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,908},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>billboard_catwalk-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,700},{32,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,26}}</string>
			<key>sourceSize</key>
			<string>{32,26}</string>
		</dict>
		<key>billboard_catwalk-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,908},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>billboard_dmg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,600},{120,120}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,4},{120,120}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>billboard_dmg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,188},{126,128}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>billboard_dmg3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,642},{116,100}}</string>
			<key>offset</key>
			<string>{-6,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,28},{116,100}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>billboard_middle-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,796},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>billboard_middle-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,812},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>billboard_middle-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,666},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>billboard_post.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,862},{52,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{52,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>billboard_post2.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,896},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>billboard_top-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,830},{62,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>billboard_top-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,736},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>billboard_top-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,634},{62,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>block.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,908},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>block20.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,812},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,600},{80,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,160}}</string>
			<key>sourceSize</key>
			<string>{80,160}</string>
		</dict>
		<key>cracks.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,360},{256,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,32}}</string>
			<key>sourceSize</key>
			<string>{256,32}</string>
		</dict>
		<key>crane1.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,2},{192,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,64}}</string>
			<key>sourceSize</key>
			<string>{192,64}</string>
		</dict>
		<key>crane2.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,812},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>crane3.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,722},{128,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,96}}</string>
			<key>sourceSize</key>
			<string>{128,96}</string>
		</dict>
		<key>crane4.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,722},{96,84}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{96,84}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>crane5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,744},{64,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>dark_tower.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>demo_gibs.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,318},{228,40}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{228,40}}</string>
			<key>sourceSize</key>
			<string>{240,40}</string>
		</dict>
		<key>dishes.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,86},{78,320}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{78,320}}</string>
			<key>sourceSize</key>
			<string>{80,320}</string>
		</dict>
		<key>doors.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,878},{120,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,48}}</string>
			<key>sourceSize</key>
			<string>{120,48}</string>
		</dict>
		<key>dove.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,736},{74,16}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{74,16}}</string>
			<key>sourceSize</key>
			<string>{80,20}</string>
		</dict>
		<key>escape.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,562},{32,64}}</string>
			<key>offset</key>
			<string>{-16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>fence.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,896},{64,38}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26},{64,38}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>floor1-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,922},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>floor1-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,942},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>floor1-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,922},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>floor1.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,972},{96,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,32}}</string>
			<key>sourceSize</key>
			<string>{96,32}</string>
		</dict>
		<key>floor2-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,908},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>floor2-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,874},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>floor2-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,874},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>floor2.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,944},{96,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,32}}</string>
			<key>sourceSize</key>
			<string>{96,32}</string>
		</dict>
		<key>gameover.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,498},{780,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{780,100}}</string>
			<key>sourceSize</key>
			<string>{780,100}</string>
		</dict>
		<key>gameover_exit_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,600},{124,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,66}}</string>
			<key>sourceSize</key>
			<string>{124,66}</string>
		</dict>
		<key>gameover_exit_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,762},{124,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,66}}</string>
			<key>sourceSize</key>
			<string>{124,66}</string>
		</dict>
		<key>gameover_new_record_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,2},{544,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{544,64}}</string>
			<key>sourceSize</key>
			<string>{544,64}</string>
		</dict>
		<key>girder.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,188},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>girder2.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,600},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>glass.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,68},{744,16}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{744,16}}</string>
			<key>sourceSize</key>
			<string>{768,16}</string>
		</dict>
		<key>hall1.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,796},{96,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,32}}</string>
			<key>sourceSize</key>
			<string>{96,32}</string>
		</dict>
		<key>hall2.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,642},{96,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,32}}</string>
			<key>sourceSize</key>
			<string>{96,32}</string>
		</dict>
		<key>jet.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{510,236}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{510,236}}</string>
			<key>sourceSize</key>
			<string>{512,256}</string>
		</dict>
		<key>mothership.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,408},{480,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,80}}</string>
			<key>sourceSize</key>
			<string>{480,80}</string>
		</dict>
		<key>obstacles.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,642},{144,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,36}}</string>
			<key>sourceSize</key>
			<string>{144,36}</string>
		</dict>
		<key>obstacles2.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,928},{72,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,36}}</string>
			<key>sourceSize</key>
			<string>{72,36}</string>
		</dict>
		<key>pause-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,400},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,10},{26,32}}</string>
			<key>sourceSize</key>
			<string>{46,52}</string>
		</dict>
		<key>pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,732},{36,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,40}}</string>
			<key>sourceSize</key>
			<string>{36,40}</string>
		</dict>
		<key>paused.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,86},{518,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{518,100}}</string>
			<key>sourceSize</key>
			<string>{518,100}</string>
		</dict>
		<key>pipe1-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,318},{26,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,40}}</string>
			<key>sourceSize</key>
			<string>{26,40}</string>
		</dict>
		<key>pipe1-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,490},{24,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,40}}</string>
			<key>sourceSize</key>
			<string>{24,40}</string>
		</dict>
		<key>pipe1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,600},{200,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,40}}</string>
			<key>sourceSize</key>
			<string>{200,40}</string>
		</dict>
		<key>pipe2-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,490},{30,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,70}}</string>
			<key>sourceSize</key>
			<string>{30,70}</string>
		</dict>
		<key>pipe2-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,2},{20,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,22}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>pipe2-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,562},{24,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,70}}</string>
			<key>sourceSize</key>
			<string>{24,70}</string>
		</dict>
		<key>pipe2.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,722},{74,72}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{74,72}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>reservoir.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,732},{152,238}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{152,238}}</string>
			<key>sourceSize</key>
			<string>{160,240}</string>
		</dict>
		<key>roof1-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,820},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof1-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,874},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof1-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,820},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof2-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,874},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof2-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,888},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof2-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,908},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof3-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,888},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof3-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,820},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof3-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,874},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof4-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,854},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof4-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,820},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof4-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,874},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof5-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,854},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof5-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,778},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof5-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,744},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof6-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,820},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof6-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,972},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>roof6-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,972},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>skylight.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,600},{160,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,40}}</string>
			<key>sourceSize</key>
			<string>{160,40}</string>
		</dict>
		<key>slope.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,680},{96,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,32}}</string>
			<key>sourceSize</key>
			<string>{96,32}</string>
		</dict>
		<key>slope20.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,892},{120,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,40}}</string>
			<key>sourceSize</key>
			<string>{120,40}</string>
		</dict>
		<key>smoke.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,188},{248,64}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{248,64}}</string>
			<key>sourceSize</key>
			<string>{256,64}</string>
		</dict>
		<key>wall1-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,928},{30,32}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall1-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,930},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall1-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,928},{30,32}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall2-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,942},{30,32}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall2-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,808},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall2-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,908},{30,32}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall3-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,796},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall3-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,930},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall3-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,774},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall4-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,874},{30,32}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall4-middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,722},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wall4-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,930},{30,32}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>window1.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,702},{128,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,32}}</string>
			<key>sourceSize</key>
			<string>{128,32}</string>
		</dict>
		<key>window2.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,668},{128,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,32}}</string>
			<key>sourceSize</key>
			<string>{128,32}</string>
		</dict>
		<key>window3.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,762},{128,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,32}}</string>
			<key>sourceSize</key>
			<string>{128,32}</string>
		</dict>
		<key>window4.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,680},{128,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,32}}</string>
			<key>sourceSize</key>
			<string>{128,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Object_Atlas.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c8d796e6aca75a284fd629bf8fefce17$</string>
		<key>textureFileName</key>
		<string>Object_Atlas.png</string>
	</dict>
</dict>
</plist>
