<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>runner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{14,22}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>runner_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{10,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{14,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{16,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,28},{16,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,28},{14,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{14,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,28},{12,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,28},{16,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,28},{14,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,28},{12,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{18,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,54},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,54},{12,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,54},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,54},{14,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{14,20}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,54},{14,18}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{14,18}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{12,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,54},{14,14}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{14,14}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{16,12}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>runner_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,80},{16,12}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{16,12}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,80},{16,16}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,80},{18,14}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,80},{18,14}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,80},{12,16}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{12,16}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,80},{10,18}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{10,18}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{10,22}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{10,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{12,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,100},{10,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,100},{10,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,100},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{14,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>runner_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Runner_Atlas.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5264dce9c9b870d06e277830d9b0d751$</string>
            <key>textureFileName</key>
            <string>Runner_Atlas.png</string>
        </dict>
    </dict>
</plist>
